In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Import Libraries
import os
import pandas as pd
import numpy as np
import time 
import datetime
pd.options.mode.chained_assignment = None
print("Libraries are Imported")

Libraries are Imported

In [ ]:
# Define Path of Label Data
path = '---------------------------------'
os.chdir(path)

In [ ]:
# Read Label Data
df_list = os.listdir()
df = []
for i in df_list:
    with open(f'{i}', 'rb') as f:
        df.append(f.readlines())

In [ ]:
mm = []
for i in range(len(df_list)):
    txt = df_list[i]
    User = ''.join((ch if ch in '0123456789' else '') for ch in txt)
    mm.append(User)

In [ ]:
# Define User List
User_list = []
for i in mm:
    User_list.append(int(i))

In [ ]:
# Read Start - End - Mode - User from Label Data
Start = []
End = []
Mode = []
User = []

for i in range(len(df)):
    del df[i][0]
    for j in range(len(df[i])):
        line = str(df[i][j]).split("\n")[0]
        St = line.split("\\t")[0].split("'")[1]
        En = line.split("\\t")[1]
        Mo = line.split("\\t")[2].split("\\r")[0]
        Start.append(St)
        End.append(En)
        Mode.append(Mo)
        User.append(User_list[i])

In [ ]:
# Make DataFrame
Data = {'Start':Start, 'End':End, 'Mode':Mode, 'User':User}
DD = pd.DataFrame(Data)

In [ ]:
# Change Date and Time of Start to Timestamp
ST = []
for i in DD['Start']:
    element = datetime.datetime.strptime(i,"%Y/%m/%d %H:%M:%S") 
    ST.append(datetime.datetime.timestamp(element))

In [ ]:
# Change Date and Time of End to Timestamp
En = []
for i in DD['End']:
    element = datetime.datetime.strptime(i,"%Y/%m/%d %H:%M:%S") 
    En.append(datetime.datetime.timestamp(element))

In [ ]:
DD['Start_TS'] = ST
DD['End_TS'] = En

In [ ]:
DD.head()

                 Start                  End  ...      Start_TS        End_TS
0  2007/11/30 09:59:00  2007/11/30 10:38:00  ...  1.196417e+09  1.196419e+09
1  2007/11/30 12:40:00  2007/11/30 13:18:00  ...  1.196426e+09  1.196429e+09
2  2007/12/02 12:27:00  2007/12/02 12:57:00  ...  1.196598e+09  1.196600e+09
3  2007/12/02 13:00:00  2007/12/02 13:25:00  ...  1.196600e+09  1.196602e+09
4  2007/12/04 07:45:00  2007/12/04 08:30:00  ...  1.196754e+09  1.196757e+09

[5 rows x 6 columns]

In [ ]:
# Define Path for Pickle Data
path = '---------------------------------'
os.chdir(path)

In [ ]:
import pickle
with open("002_All_GeoLife_Label.pickle", 'wb') as f: 
    pickle.dump(DD, f)